@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  background: #111;
  color: #fff;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.cmn__link {
  text-align: center;
  background-color: #333333;
  border: 1px solid #fff;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.cmn__link::before {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.cmn__link:hover {
  background-color: #fff;
}
.cmn__link:hover > a {
  color: #111;
}
.cmn__link:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cmn__link > a {
  display: block;
  padding-top: 10px;
  padding-top: 0.625rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

.cmn__title {
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .cmn__title {
    font-size: 1.875rem;
  }
}

.cmn__title-text {
  font-size: 50px;
  font-size: 3.125rem;
  color: #f9f871;
  letter-spacing: 2px;
  z-index: -1;
  opacity: 0.5;
  font-family: "Noto Serif JP", serif;
  margin-top: -85px;
  margin-top: -5.3125rem;
}
@media screen and (min-width: 768px) {
  .cmn__title-text {
    font-size: 6.875rem;
  }
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #111;
  color: #fff;
}

.totop {
  position: fixed;
  display: block;
  width: 45px;
  width: 2.8125rem;
  height: 45px;
  height: 2.8125rem;
  background-color: #fff;
  z-index: 998;
  right: 20px;
  right: 1.25rem;
  bottom: 40px;
  bottom: 2.5rem;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .totop {
    right: 1.9375rem;
    bottom: 2rem;
  }
}

.totop.is__show {
  opacity: 1;
  visibility: visible;
}

.totop:hover {
  background-color: #333333;
}
.totop:hover .totop__inner::before {
  background: url(/images/common/to-top-white.png) center center no-repeat;
  background-size: contain;
  width: 24px;
  width: 1.5rem;
  height: 12px;
  height: 0.75rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 130%);
          transform: translate(-50%, 130%);
}

.totop__inner {
  position: relative;
}

.totop__inner::before {
  position: absolute;
  content: "";
  background: url(/images/common/to-top.png) center center no-repeat;
  background-size: contain;
  width: 24px;
  width: 1.5rem;
  height: 12px;
  height: 0.75rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 130%);
          transform: translate(-50%, 130%);
}

.drawer {
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: 11px 20px;
  padding: 0.6875rem 1.25rem;
  background: rgba(0, 0, 0, .5);
  height: 50px;
  height: 3.125rem;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.drawer.is__active {
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
  background-color: #000;
}
.drawer__logo {
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "Playlist", serif;
  color: #fff;
}
.drawer__logo > a > img {
  display: block;
  width: 80px;
  width: 5rem;
  height: 39px;
  height: 2.4375rem;
}
.drawer__icon {
  z-index: 101;
  position: fixed;
  width: 24px;
  width: 1.5rem;
  height: 12px;
  height: 0.75rem;
  right: 23px;
  right: 1.4375rem;
  top: 14px;
  top: 0.875rem;
}
.drawer__icon.is__active .drawer__icon-bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 6px;
}
.drawer__icon.is__active .drawer__icon-bar2 {
  display: none;
}
.drawer__icon.is__active .drawer__icon-bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px;
}
.drawer__icon-bars {
  position: relative;
}
.drawer__icon-bar {
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  background-color: #FFFFFF;
  width: 100%;
  display: block;
  height: 2px;
  position: absolute;
}
.drawer__icon-bar1 {
  top: 0;
}
.drawer__icon-bar2 {
  top: 6px;
  top: 0.375rem;
}
.drawer__icon-bar3 {
  top: 12px;
  top: 0.75rem;
}
.drawer__content {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 50px;
  top: 3.125rem;
  background: #000;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .16);
          box-shadow: 0 0 3px rgba(0, 0, 0, .16);
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.drawer__content.is__active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.drawer__content-list {
  margin-top: 159px;
  margin-top: 9.9375rem;
  margin-bottom: 208px;
  margin-bottom: 13rem;
}
.drawer__content-item {
  text-align: center;
}
.drawer__content-item:not(:first-child) {
  margin-top: 32px;
  margin-top: 2rem;
}
.drawer__content-item > a {
  color: #fff;
}

.footer {
  margin-top: 120px;
  margin-top: 7.5rem;
  padding-bottom: 48px;
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .footer {
    margin-top: 9.375rem;
    padding-bottom: 1.625rem;
  }
}
.footer__contact {
  background-color: #3D3D3D;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-bottom: 64px;
  padding-bottom: 4rem;
  padding-top: 67px;
  padding-top: 4.1875rem;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    padding-top: 5.3125rem;
    padding-bottom: 9.6875rem;
  }
}
.footer__contact-title {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__contact-title {
    -webkit-transform: translateY(53px);
            transform: translateY(53px);
  }
}
.footer__contact-title-text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__contact-title-text {
    margin-right: 41.25rem;
  }
}
.footer__contact-desc {
  line-height: 1.437;
  letter-spacing: 2px;
  margin-top: 47px;
  margin-top: 2.9375rem;
  margin-bottom: 31px;
  margin-bottom: 1.9375rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-desc {
    margin-bottom: 2.5rem;
    margin-top: 0.625rem;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact-link {
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    width: 360px;
    margin: 0 auto;
  }
}
.footer__contact-link > a {
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .footer__contact-link > a {
    font-size: 1.25rem;
  }
}
.footer__inner {
  padding: 0 32px;
  padding: 0 2rem;
  max-width: 1280px;
  max-width: 80rem;
  width: 100%;
  margin: auto;
}
.footer__nav {
  padding-top: 34px;
  padding-top: 2.125rem;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    padding-top: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__logo {
  text-align: center;
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
  padding-left: 18px;
  padding-left: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-left: 0;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
}
.footer__logo > a {
  display: block;
  margin: 0 auto;
  height: 40px;
  height: 2.5rem;
  width: 90px;
  width: 5.625rem;
}
.footer__logo > a > img {
  display: block;
  width: 75px;
  width: 4.6875rem;
  height: 30px;
  height: 1.875rem;
}
.footer__nav-list {
  margin-top: 4px;
  margin-top: 0.25rem;
}
@media screen and (min-width: 768px) {
  .footer__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}
.footer__nav-item {
  text-align: center;
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__nav-item {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__nav-item:not(:first-child) {
    margin-left: 2rem;
  }
}
.footer__nav-link {
  letter-spacing: 2px;
  position: relative;
}
.footer__nav-link::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #F9F871;
  bottom: -6px;
  bottom: -0.375rem;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.footer__nav-link:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.footer__copyright {
  text-align: center;
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: 1.2px;
  margin-top: 30px;
  margin-top: 1.875rem;
  padding-top: 5px;
  padding-top: 0.3125rem;
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-top: 4.0625rem;
    font-size: 0.9375rem;
  }
}

.header {
  height: 50px;
  height: 3.125rem;
}
@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    height: 3.125rem;
    background: rgba(0, 0, 0, .5);
    padding-left: 2rem;
    z-index: 100;
  }
}
.header__logo-link {
  font-family: "Playlist", serif;
  color: #fff;
  font-size: 30px;
  font-size: 1.875rem;
  height: inherit;
}
.header__logo-link > img {
  display: block;
  height: 45px;
  height: 2.8125rem;
  width: 100px;
  width: 6.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px;
  margin-top: 0.625rem;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  height: inherit;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.header__nav-item {
  margin-right: 30px;
  margin-right: 1.875rem;
  height: inherit;
}
.header__nav-link {
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 2px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.header__nav-link::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #F9F871;
  bottom: 8px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.header__nav-link:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.header__contact-linkwrap {
  background-color: #fff;
  display: block;
  height: 100%;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.header__contact-linkwrap:hover {
  background-color: #333;
}
.header__contact-linkwrap:hover .header__contact-link {
  color: #fff;
}
.header__contact-link {
  font-size: 16px;
  font-size: 1rem;
  line-height: 50px;
  line-height: 3.125rem;
  text-align: center;
  display: block;
  letter-spacing: 2px;
  padding-left: 32px;
  padding-left: 2rem;
  padding-right: 32px;
  padding-right: 2rem;
  color: #111;
}

.js-background {
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.js-background.is__background {
  background-color: #111111;
}

.blog {
  margin-top: 100px;
  margin-top: 6.25rem;
}
@media screen and (min-width: 768px) {
  .blog {
    margin-top: 13.125rem;
  }
}
.blog__inner {
  max-width: 600px;
  max-width: 37.5rem;
}
@media screen and (min-width: 768px) {
  .blog__inner {
    max-width: 80rem;
    width: 100%;
    margin: auto;
  }
}
.blog__title {
  text-align: center;
  z-index: -1;
}
.blog__title-text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .blog__title-text {
    z-index: -1;
    text-align: right;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    padding-right: 1rem;
    position: sticky;
  }
}
.blog__list {
  margin-top: 73px;
  margin-top: 4.5625rem;
}
@media screen and (min-width: 768px) {
  .blog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -2.5rem;
  }
}
.blog__item {
  position: relative;
  width: 100%;
  background-color: #fff;
  color: #111;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
@media screen and (min-width: 768px) {
  .blog__item {
    width: calc(33.333% - 1.52083rem);
  }
}
.blog__item:not(:first-child) {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .blog__item:not(:first-child) {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .blog__item:not(:nth-child(3n+1)) {
    margin-left: 1.4375rem;
  }
}
@media screen and (min-width: 768px) {
  .blog__item:nth-child(n+4) {
    margin-top: 3rem;
  }
}
.blog__item:hover {
  background-color: #333333;
}
.blog__item:hover .blog__item-title {
  color: #fff;
}
.blog__item:hover .blog__item-desc {
  color: #fff;
}
.blog__item:hover .bolg__date {
  color: #fff;
}
.blog__item:hover.blog__item-link {
  opacity: 1;
}
.blog__newtag {
  position: absolute;
  height: 60px;
  height: 3.75rem;
  width: 60px;
  width: 3.75rem;
  top: -20px;
  top: -1.25rem;
  left: -16px;
  left: -1rem;
  background-color: #FFBA6A;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  line-height: 3.75rem;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .blog__newtag {
    left: -1.25rem;
  }
}
.blog__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}
.blog__sumbnail {
  display: block;
  position: relative;
}
.blog__sumbnail::before {
  content: "";
  display: block;
  padding-top: 66%;
}
.blog__sumbnail > img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.blog__body {
  padding-right: 23px;
  padding-right: 1.4375rem;
  padding-left: 23px;
  padding-left: 1.4375rem;
  padding-bottom: 2px;
  padding-bottom: 0.125rem;
}
@media screen and (min-width: 768px) {
  .blog__body {
    padding-bottom: 1rem;
  }
}
.blog__item-title {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.944;
  letter-spacing: 1px;
  font-weight: 300;
}
.blog__item-desc {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.857;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}
.blog__info {
  margin-top: auto;
  padding-left: 23px;
  padding-left: 1.4375rem;
  padding-right: 23px;
  padding-right: 1.4375rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
.blog__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog__link {
  margin-top: 30px;
  margin-top: 1.875rem;
  padding-top: 2px;
  padding-top: 0.125rem;
  padding-bottom: 2px;
  padding-bottom: 0.125rem;
}
@media screen and (min-width: 768px) {
  .blog__link {
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
    margin-top: 3rem;
    width: 22.5rem;
    max-width: 100%;
  }
}

.bolg__tag {
  background-color: #FFEA2E;
  padding: 0 5px;
  padding: 0 0.3125rem;
}

.bolg__date {
  margin-left: auto;
}

.blog__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.slide-img img {
  display: block;
  height: 100vh;
}

.mv {
  position: relative;
}
.mv__title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -235%);
          transform: translate(-50%, -235%);
  color: #fff;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .mv__title-wrap {
    -webkit-transform: translate(-50%, -85%);
            transform: translate(-50%, -85%);
  }
}
.mv__title {
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .mv__title {
    font-size: 3.125rem;
  }
}
.mv__title-text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv__title-text {
    font-size: 1.5625rem;
  }
}
.mv__inner {
  width: 1080px;
  width: 67.5rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  padding: 0 1.25rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .mv__inner {
    padding: 0;
    margin-top: 0;
  }
}
.mv__sp-slide {
  display: block;
}
@media screen and (min-width: 768px) {
  .mv__sp-slide {
    display: none;
  }
}
.mv__pc-slide {
  display: none;
}
@media screen and (min-width: 768px) {
  .mv__pc-slide {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .mv__article-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2.0625rem;
  }
}
.mv__article-block:hover .mv__article-title {
  text-decoration: underline;
}
.mv__article-date-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 61px;
  margin-right: 3.8125rem;
}
.mv__article-date {
  margin-right: 32px;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .mv__article-date {
    margin-right: 4.3125rem;
  }
}
.mv__article-category {
  border: 1px solid #fff;
  padding: 5px 22px;
  padding: 0.3125rem 1.375rem;
  min-width: 80px;
  min-width: 5rem;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .mv__article-title-block {
    margin-right: 3rem;
  }
}
.mv__article-title {
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
  margin-top: 21px;
  margin-top: 1.3125rem;
}
@media screen and (min-width: 768px) {
  .mv__article-title {
    margin-top: 0;
  }
}
.mv__article-link-block {
  text-align: center;
  margin-left: auto;
  width: 100%;
  max-width: 100%;
  margin-top: 28px;
  margin-top: 1.75rem;
  background-color: #333;
}
@media screen and (min-width: 768px) {
  .mv__article-link-block {
    max-width: 8.375rem;
    margin-top: 0;
    background-color: #fff;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .mv__article-link-block::before {
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
    transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
  }
}
@media screen and (min-width: 768px) {
  .mv__article-link-block:hover {
    background-color: #333;
  }
  .mv__article-link-block:hover .mv__article-link {
    color: #fff;
  }
  .mv__article-link-block:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.mv__article-link {
  color: #fff;
  display: block;
  padding: 10px 0;
  padding: 0.625rem 0;
}
@media screen and (min-width: 768px) {
  .mv__article-link {
    padding: 0 1.625rem;
    color: #111;
  }
}

.overview {
  position: relative;
  margin-top: 130px;
  margin-top: 8.125rem;
}
@media screen and (min-width: 768px) {
  .overview {
    padding-right: 5.625rem;
    margin-top: 12.5rem;
  }
}
.overview::before {
  content: "";
  position: absolute;
  z-index: -10;
  height: 1321px;
  height: 82.5625rem;
  width: 94%;
  max-width: 100%;
  left: 0;
  top: -215px;
  top: -13.4375rem;
  background-image: linear-gradient(to left top, transparent 49.9%, #f9f871 50%, #f9f871 calc(49.9% + 1px), transparent calc(50.1% + 1px));
}
.overview__title {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .overview__title {
    padding-left: 5.625rem;
    -webkit-transform: translateY(42px);
            transform: translateY(42px);
  }
}
.overview__title-text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .overview__title-text {
    margin-right: 31.25rem;
    -webkit-transform: translateY(33px);
            transform: translateY(33px);
  }
}
@media screen and (min-width: 768px) {
  .overview__background {
    background: -webkit-gradient(linear, left top, right top, from(#333333), color-stop(75%, #333333), color-stop(25%, transparent), to(transparent));
    background: linear-gradient(90deg, #333333 0%, #333333 75%, transparent 25%, transparent 100%);
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}
.overview__inner {
  max-width: 1280px;
  max-width: 80rem;
  width: 100%;
  margin: auto;
}
.overview__wrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 50px;
  padding-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .overview__wrap-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -3.125rem;
  }
}
.overview__wrap-left {
  background-color: #333333;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .overview__wrap-left {
    width: 58%;
    background-color: transparent;
    padding-left: 5.6875rem;
    margin-right: 0.8125rem;
  }
}
.overview__wrap-left-title {
  text-align: center;
  padding-top: 24px;
  padding-top: 1.5rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .overview__wrap-left-title {
    font-size: 1.5625rem;
    text-align: left;
  }
}
.overview__wrap-left-text {
  margin-top: 24px;
  margin-top: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .overview__wrap-left-text {
    line-height: 1.75;
  }
}
.overview__wrap-left-link {
  margin-top: 22px;
  margin-top: 1.375rem;
  padding-bottom: 3px;
  padding-bottom: 0.1875rem;
  padding-top: 3px;
  padding-top: 0.1875rem;
}
@media screen and (min-width: 768px) {
  .overview__wrap-left-link {
    width: 22.5rem;
    margin-top: 3rem;
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
  }
}
.overview__wrap-left-link > a {
  letter-spacing: 2px;
  font-size: 16px;
  font-size: 1rem;
}
.overview__wrap-right {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .overview__wrap-right {
    width: 53%;
  }
}
.overview__wrap-right-image {
  position: relative;
  width: 100%;
}
.overview__wrap-right-image::before {
  content: "";
  display: block;
  padding-top: 69%;
}
.overview__wrap-imagecontent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.works {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .works {
    margin-top: 12.5rem;
  }
}
@media screen and (min-width: 768px) {
  .works__background {
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(25%, transparent), color-stop(25%, #333333), to(#333333));
    background: linear-gradient(90deg, transparent 0%, transparent 25%, #333333 25%, #333333 100%);
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}
.works__inner {
  max-width: 1280px;
  max-width: 80rem;
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .works__inner {
    padding-left: 5.625rem;
  }
}
.works__title {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .works__title {
    padding-right: 5.3125rem;
    -webkit-transform: translateY(52px);
            transform: translateY(52px);
  }
}
.works__title-text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .works__title-text {
    padding-left: 41.25rem;
    -webkit-transform: translateY(33px);
            transform: translateY(33px);
  }
}
.works__wrap-flex {
  padding-top: 50px;
  padding-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .works__wrap-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -3.125rem;
  }
}
.works__wrap-left {
  position: relative;
}
@media screen and (min-width: 768px) {
  .works__wrap-left {
    width: 48.5%;
    margin-right: 2rem;
  }
}
.works__wrap-right {
  background-color: #333333;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .works__wrap-right {
    width: 50%;
    padding-bottom: 1.3125rem;
    padding-right: 1.25rem;
    background-color: transparent;
    padding-right: 5.6875rem;
  }
}
.works__wrap-right-title {
  text-align: center;
  padding-top: 24px;
  padding-top: 1.5rem;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .works__wrap-right-title {
    text-align: left;
    font-size: 1.5625rem;
    letter-spacing: 0.5px;
  }
}
.works__wrap-right-text {
  margin-top: 20px;
  margin-top: 1.25rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .works__wrap-right-text {
    line-height: 2;
    margin-top: 2.5rem;
    letter-spacing: 0.5px;
  }
}
.works__wrap-right-link {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .works__wrap-right-link {
    width: 22.5rem;
    margin-top: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.works__wrap-right-link > a {
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .works__wrap-right-link > a {
    font-size: 1rem;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -23px;
}
@media screen and (min-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -30px;
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
  }
}

.swiper-pagination-bullet {
  background: #c4c4c4;
}
@media screen and (min-width: 768px) {
  .swiper-pagination-bullet {
    height: 9px;
    width: 9px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #f9f871;
}

.swiper-works-item {
  position: relative;
  width: 100%;
}
.swiper-works-item::before {
  content: "";
  position: absolute;
  display: block;
  padding-top: 69%;
}

.wiper-works-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.content {
  margin-top: 150px;
  margin-top: 9.375rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .content {
    margin-top: 11.875rem;
  }
}
.content::before {
  content: "";
  position: absolute;
  z-index: -10;
  height: 1200px;
  height: 75rem;
  width: 94%;
  max-width: 100%;
  left: 0;
  top: -105px;
  top: -6.5625rem;
  background-image: linear-gradient(to right top, transparent 49.9%, #F9F871 50%, #F9F871 calc(49.9% + 1px), transparent calc(50.1% + 1px));
}
.content__inner {
  max-width: 1280px;
  max-width: 80rem;
  width: 100%;
  margin: auto;
}
.content__titlewrap {
  text-align: center;
}
.content__title {
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .content__title {
    font-size: 1.875rem;
  }
}
.content__title-text {
  font-size: 50px;
  font-size: 3.125rem;
  color: #f9f871;
  letter-spacing: 2px;
  z-index: -1;
  opacity: 0.5;
  font-family: "Noto Serif JP", serif;
  margin-top: -85px;
  margin-top: -5.3125rem;
}
@media screen and (min-width: 768px) {
  .content__title-text {
    font-size: 6.875rem;
    margin-right: 41.25rem;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
.content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  margin-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .content__list {
    margin-top: -2.5rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.content__item {
  width: 50%;
  padding-top: 40%;
  position: relative;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.content__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .6);
  opacity: 0;
  left: 0;
  top: 0;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
@media screen and (min-width: 768px) {
  .content__item {
    width: 100%;
    padding-top: 20%;
  }
}
.content__item:hover::before {
  opacity: 0.6;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.content__item:nth-child(1) {
  background-image: url(/images/common/contenr-image1.jpg);
  background-size: cover;
}
.content__item:nth-child(2) {
  background-image: url(/images/common/content-image2.jpg);
  background-size: cover;
}
.content__item:nth-child(3) {
  background-image: url(/images/common/content-image3.jpg);
  background-size: cover;
}
.content__item:nth-child(4) {
  background-image: url(/images/common/content-image4.jpg);
  background-size: cover;
}
.content__item-link {
  height: inherit;
  width: inherit;
  display: block;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.content__item-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: inherit;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .content__item-text {
    font-size: 1.5625rem;
  }
}
/*# sourceMappingURL=styles.css.map */
