@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  background: #111;
  color: #fff;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.cmn__link {
  text-align: center;
  background-color: #333333;
  border: 1px solid #fff;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.cmn__link::before {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.cmn__link:hover {
  background-color: #fff;
}
.cmn__link:hover > a {
  color: #111;
}
.cmn__link:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cmn__link > a {
  display: block;
  padding-top: 10px;
  padding-top: 0.625rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

.cmn__title {
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .cmn__title {
    font-size: 1.875rem;
  }
}

.cmn__title-text {
  font-size: 50px;
  font-size: 3.125rem;
  color: #f9f871;
  letter-spacing: 2px;
  z-index: -1;
  opacity: 0.5;
  font-family: "Noto Serif JP", serif;
  margin-top: -85px;
  margin-top: -5.3125rem;
}
@media screen and (min-width: 768px) {
  .cmn__title-text {
    font-size: 6.875rem;
    text-align: left;
  }
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #111;
  color: #fff;
}

.drawer {
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: 11px 20px;
  padding: 0.6875rem 1.25rem;
  background: rgba(0, 0, 0, .5);
  height: 50px;
  height: 3.125rem;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.drawer.is__active {
  -webkit-transition: ease all 0.5;
  transition: ease all 0.5;
  background-color: #000;
}
.drawer__logo {
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "Playlist", serif;
  color: #fff;
}
.drawer__icon {
  z-index: 101;
  position: fixed;
  width: 24px;
  width: 1.5rem;
  height: 12px;
  height: 0.75rem;
  right: 23px;
  right: 1.4375rem;
  top: 14px;
  top: 0.875rem;
}
.drawer__icon.is__active .drawer__icon-bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 6px;
}
.drawer__icon.is__active .drawer__icon-bar2 {
  display: none;
}
.drawer__icon.is__active .drawer__icon-bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px;
}
.drawer__icon-bars {
  position: relative;
}
.drawer__icon-bar {
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  background-color: #FFFFFF;
  width: 100%;
  display: block;
  height: 2px;
  position: absolute;
}
.drawer__icon-bar1 {
  top: 0;
}
.drawer__icon-bar2 {
  top: 6px;
  top: 0.375rem;
}
.drawer__icon-bar3 {
  top: 12px;
  top: 0.75rem;
}
.drawer__content {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 50px;
  top: 3.125rem;
  background: #000;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .16);
          box-shadow: 0 0 3px rgba(0, 0, 0, .16);
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  opacity: 0;
}
.drawer__content.is__active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.drawer__content-list {
  margin-top: 159px;
  margin-top: 9.9375rem;
  margin-bottom: 208px;
  margin-bottom: 13rem;
}
.drawer__content-item {
  text-align: center;
}
.drawer__content-item:not(:first-child) {
  margin-top: 32px;
  margin-top: 2rem;
}
.drawer__content-item > a {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    height: 3.125rem;
    background: rgba(0, 0, 0, .5);
    padding-left: 2rem;
    z-index: 100;
  }
}
.header__logo-link {
  font-family: "Playlist", serif;
  color: #fff;
  font-size: 30px;
  font-size: 1.875rem;
}
.header__logo-link > img {
  display: block;
  height: 45px;
  height: 2.8125rem;
  width: 100px;
  width: 6.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px;
  margin-top: 0.625rem;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav-item {
  margin-right: 32px;
  margin-right: 2rem;
}
.header__nav-item > a {
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 2px;
}
.header__nav-item > a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #000000;
  bottom: -1px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.header__contact-linkwrap {
  background-color: #fff;
  display: block;
  height: 100%;
}
.header__contact-link {
  font-size: 16px;
  font-size: 1rem;
  line-height: 50px;
  line-height: 3.125rem;
  text-align: center;
  display: block;
  letter-spacing: 2px;
  padding-left: 32px;
  padding-left: 2rem;
  padding-right: 32px;
  padding-right: 2rem;
  color: #111;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.slide-img img {
  display: block;
  height: 100vh;
}

.mv {
  position: relative;
}
.mv__title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  z-index: 10;
}
.mv__title {
  font-size: 28px;
  font-size: 1.75rem;
  white-space: nowrap;
}
.mv__title-text {
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 24px;
  margin-top: 1.5rem;
}
.mv__article-wrap {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .mv__article-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.mv__article-datewrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .mv__article-datewrap {
    margin-right: 3.8125rem;
  }
}
.mv__article-date {
  margin-right: 32px;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .mv__article-date {
    margin-right: 3rem;
  }
}
.mv__article-tag {
  font-size: 14px;
  font-size: 0.875rem;
  border: 1px solid #fff;
  padding-top: 5px;
  padding-top: 0.3125rem;
  padding-right: 21px;
  padding-right: 1.3125rem;
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
  padding-left: 21px;
  padding-left: 1.3125rem;
  white-space: nowrap;
}
.mv__article-titlewrap {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .mv__article-titlewrap {
    margin-top: 0;
    margin-right: 2.5625rem;
  }
}
.mv__article-title {
  line-height: 1.438;
  font-weight: 300;
}
.mv__article-linkwrap {
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  margin-top: 28px;
  margin-top: 1.75rem;
  border: 1px solid #fff;
  background-color: #333333;
  text-align: center;
  padding-top: 10px;
  padding-top: 0.625rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .mv__article-linkwrap {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 8.375rem;
    white-space: nowrap;
    background-color: #fff;
  }
}
@media screen and (min-width: 768px) {
  .mv__article-linkwrap:hover {
    background-color: #333333;
    border: none;
  }
}
@media screen and (min-width: 768px) {
  .mv__article-linkwrap:hover > a {
    color: #fff;
  }
}
.mv__article-link {
  font-size: 20px;
  font-size: 1.25rem;
  display: block;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mv__article-link {
    color: #111;
  }
}

.overview {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .overview {
    padding-right: 5.625rem;
    margin-top: 13.3125rem;
  }
}
.overview__title {
  text-align: center;
}
.overview__title-text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .overview__title-text {
    text-align: left;
  }
}
.overview__wrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 50px;
  padding-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .overview__wrap-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, right top, from(#333333), color-stop(70%, #333333), color-stop(30%, transparent), to(transparent));
    background: linear-gradient(90deg, #333333 0%, #333333 70%, transparent 30%, transparent 100%);
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: -1.875rem;
  }
}
.overview__wrap-left {
  background-color: #333333;
  padding-bottom: 21px;
  padding-bottom: 1.3125rem;
}
@media screen and (min-width: 768px) {
  .overview__wrap-left {
    width: 50%;
    background-color: transparent;
    padding-left: 5.6875rem;
    margin-right: 2.0625rem;
  }
}
.overview__wrap-left-title {
  text-align: center;
  padding-top: 24px;
  padding-top: 1.5rem;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .overview__wrap-left-title {
    text-align: left;
  }
}
.overview__wrap-left-text {
  margin-top: 24px;
  margin-top: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.75;
}
.overview__wrap-left-link {
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .overview__wrap-left-link {
    width: 22.5rem;
    margin-top: 3rem;
  }
}
.overview__wrap-left-link > a {
  letter-spacing: 2px;
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .overview__wrap-right {
    width: 50%;
    padding-right: 2rem;
  }
}
.works {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .works {
    padding-left: 5.625rem;
    margin-top: 13.3125rem;
  }
}
.works__title {
  text-align: center;
}
.works__title-text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .works__title-text {
    text-align: right;
  }
}
.works__wrap-flex {
  padding-top: 50px;
  padding-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .works__wrap-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, transparent), color-stop(30%, #333333), to(#333333));
    background: linear-gradient(90deg, transparent 0%, transparent 30%, #333333 30%, #333333 100%);
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: -1.875rem;
  }
}
.works__wrap-left {
  position: relative;
}
@media screen and (min-width: 768px) {
  .works__wrap-left {
    width: 50%;
    padding-right: 2rem;
  }
}
.works__wrap-right {
  background-color: #333333;
  padding-bottom: 21px;
  padding-bottom: 1.3125rem;
}
@media screen and (min-width: 768px) {
  .works__wrap-right {
    width: 50%;
    background-color: transparent;
    padding-right: 5.6875rem;
  }
}
.works__wrap-right-title {
  text-align: center;
  padding-top: 24px;
  padding-top: 1.5rem;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .works__wrap-right-title {
    text-align: left;
    font-size: 1.5625rem;
    letter-spacing: 0.5px;
  }
}
.works__wrap-right-text {
  margin-top: 24px;
  margin-top: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .works__wrap-right-text {
    margin-top: 3rem;
    letter-spacing: 0.5px;
  }
}
.works__wrap-right-link {
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .works__wrap-right-link {
    width: 22.5rem;
    margin-top: 3rem;
  }
}
.works__wrap-right-link > a {
  letter-spacing: 2px;
  font-size: 20px;
  font-size: 1.25rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -17px;
}

.swiper-pagination-bullet {
  background: #c4c4c4;
}

.swiper-pagination-bullet-active {
  background-color: #f9f871;
}

.content {
  margin-top: 150px;
  margin-top: 9.375rem;
}
.content__titlewrap {
  text-align: center;
}
.content__title {
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .content__title {
    font-size: 1.875rem;
  }
}
.content__title-text {
  font-size: 50px;
  font-size: 3.125rem;
  color: #F9F871;
  letter-spacing: 2px;
  z-index: -1;
  opacity: 0.5;
  font-family: "Noto Serif JP", serif;
  margin-top: -85px;
  margin-top: -5.3125rem;
}
@media screen and (min-width: 768px) {
  .content__title-text {
    font-size: 6.875rem;
    text-align: left;
  }
}
.content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  margin-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .content__list {
    margin-top: -2rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.content__item {
  width: 50%;
  height: 168px;
  height: 10.5rem;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
@media screen and (min-width: 768px) {
  .content__item {
    width: 100%;
    height: 20rem;
  }
}
.content__item:hover {
  opacity: 0.6;
}
.content__item:nth-child(1) {
  background-image: url(/src/images/common/contenr-image1.jpg);
  background-size: cover;
}
.content__item:nth-child(2) {
  background-image: url(/src/images/common/content-image2.jpg);
  background-size: cover;
}
.content__item:nth-child(3) {
  background-image: url(/src/images/common/content-image3.jpg);
  background-size: cover;
}
.content__item:nth-child(4) {
  background-image: url(/src/images/common/content-image4.jpg);
  background-size: cover;
}
.content__item-link {
  display: block;
  height: 100%;
  width: 100%;
}
.content__item-text {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
}
/*# sourceMappingURL=styles.css.map */
