@use "global" as *;
.header {
  @include mq("md") {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: rem(50);
    background: rgba(0, 0, 0, 0.5);
    padding-left: rem(32);
  }
  &__logo {
  }

  &__logo-link {
  }

  &__logo-link {
    font-family: "Playlist", serif;
    color: #fff;
    font-size: rem(30);
  }

  &__logo-link > img {
    display: block;
    height: rem(45);
    width: rem(100);
    object-fit: cover;
    margin-top: rem(10);
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__nav-list {
    display: flex;
    align-items: center;
  }

  &__nav-item {
    margin-right: rem(32);
  }

  &__nav-item > a {
    font-size: rem(16);
    color: #fff;
    letter-spacing: 2px;
  }

  &__nav-item > a::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #000000;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.3s;
  }

  &__contact-linkwrap {
    background-color: #fff;
    display: block;
    // width: rem(120);
    height: 100%;
  }

  &__contact-link {
    font-size: rem(16);
    line-height: rem(50);
    text-align: center;
    display: block;
    letter-spacing: 2px;
    padding-left: rem(32);
    padding-right: rem(32);
  }
}
