@use "global" as *;
.blog {
  margin-top: rem(100);
  @include mq("md") {
    margin-top: rem(210);
  }

  &__title {
    text-align: center;
    z-index: -1;
  }

  &__title-text {
    text-align: center;
    @include mq("md") {
      z-index: -1;
      text-align: right;
      transform: translateY(-20px);
      padding-right: rem(16);
      position: sticky;
    }
  }

  &__list {
    margin-top: rem(73);
    @include mq("md") {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: rem(-40);
    }
  }

  &__item {
    position: relative;
    width: 100%;
    background-color: #fff;
    color: $black;
    transition: ease all .3s;
    @include mq("md") {
      width: calc(33.333% - rem(73) / 3);
    }
  }

  &__item:not(:first-child) {
    margin-top: rem(24);
    @include mq("md") {
      margin-top: 0;
    }
  }

  &__item:not(:nth-child(3n + 1)) {
    @include mq("md") {
      margin-left: rem(23);
    }
  }

  &__item:nth-child(n + 4) {
    @include mq("md") {
      margin-top: rem(48);
    }
  }

  &__item:hover {
    background-color: #333333;
    .blog__item-title {
      color: #fff;
    }
    .blog__item-desc {
      color: #fff;
    }
    .bolg__date {
      color: #fff;
    }
    &.blog__item-link {
      opacity: 1;
    }
  }

  &__newtag {
    position: absolute;
    height: rem(60);
    width: rem(60);
    top: rem(-20);
    left: rem(-16);
    background-color: #FFBA6A;
    border-radius: 50%;
    text-align: center;
    line-height: rem(60);
    @include mq("md") {
    left: rem(-20);
    }
  }

  &__item-link {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  &__sumbnail {
    display: block;
  }

  &__sumbnail > img {
    object-fit: cover;
    width: 100%;
  }

  &__body {
    padding-right: rem(23);
    padding-left: rem(23);
    padding-bottom: rem(2);
    @include mq("md") {
      padding-bottom: rem(16);
    }
  }

  &__item-title {
    font-size: rem(18);
    line-height: 1.944;
    letter-spacing: 1px;
    font-weight: $regular;
  }

  &__item-desc {
    font-size: rem(14);
    line-height: 1.857;
    letter-spacing: 1px;
    margin-bottom: rem(10);
  }

  &__info {
    margin-top: auto;
    padding-left: rem(23);
    padding-right: rem(23);
    padding-bottom: rem(16);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    margin-top: rem(30);
    padding-top: rem(2);
    padding-bottom: rem(2);
    @include mq("md") {
      margin-top: rem(24);
      padding-top: rem(8);
      padding-bottom: rem(8);
      margin: 0 auto;
      margin-top: rem(48);
      width: rem(360);
      max-width: 100%;
    }
  }
}

.bolg__tag {
  background-color: #FFEA2E;
  padding: 0 rem(5);
}

.bolg__date {
  margin-left: auto;
}
.blog__item-link {
  display: flex;
  flex-direction: column;
}