@use "global" as *;
.works {
  margin-top: rem(120);
  @include mq("md") {
    padding-left: rem(90);
    margin-top: rem(213);
  }

  &__title {
    text-align: center;
  }

  &__title-text {
    text-align: center;
    @include mq("md") {
      text-align: right;
    }
  }

  &__wrap-flex {
    padding-top: rem(50);
    @include mq("md") {
      display: flex;
      align-items: center;
      background: linear-gradient(
        90deg,
        transparent 0%,
        transparent 30%,
        #333333 30%,
        #333333 100%
      );
      padding-bottom: rem(80);
      padding-top: rem(80);
      margin-top: rem(-30);
    }
  }

  &__wrap-left {
    position: relative;
    @include mq("md") {
      width: 50%;
      padding-right: rem(32);
    }
  }

  &__wrap-right {
    background-color: #333333;
    padding-bottom: rem(21);
    @include mq("md") {
      width: 50%;
      background-color: transparent;
      padding-right: rem(91);
    }
  }

  &__wrap-right-title {
    text-align: center;
    padding-top: rem(24);
    font-size: rem(20);
    letter-spacing: 2px;
    @include mq("md") {
      text-align: left;
      font-size: rem(25);
      letter-spacing: 0.5px;
    }
  }

  &__wrap-right-text {
    margin-top: rem(24);
    letter-spacing: 2px;
    line-height: 1.75;
    @include mq("md") {
      margin-top: rem(48);
      letter-spacing: 0.5px;
    }
  }

  &__wrap-right-link {
    margin-top: rem(16);
    @include mq("md") {
      width: rem(360);
      margin-top: rem(48);
    }
  }

  &__wrap-right-link > a {
    letter-spacing: 2px;
    font-size: rem(20);
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -17px;
}

.swiper-pagination-bullet {
  background: #c4c4c4;
}

.swiper-pagination-bullet-active {
  background-color: #f9f871;
}
